body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1920px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}

span {
    color:#FFE169;
}

header {
    height: 65px;
    width: 100%;
    background-color: #112D4E;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    color: #F9F7F7;
    float: left;
    line-height: 25px;
    margin-left: 25px;
}


.header-right {
    float: right;
    margin-right: 50px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #F9F7F7;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:link {
    text-decoration: none;
}

.header-right a:visited {
    text-decoration: none;
}

.header-right a:hover {
    background-color: #3F72AF;
    text-decoration: underline;
}
