* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    max-width: 1170px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}

span {
    color:#FFE169;
}

header {
    height: 65px;
    width: 100%;
    background-color: #112D4E;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    color: #F9F7F7;
    float: left;
    padding-top: 17px;
    margin-left: 25px;
}


.header-right {
    float: right;
    margin-right: 25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: #F9F7F7;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:link {
    text-decoration: none;
}

.header-right a:visited {
    text-decoration: none;
}

.header-right a:hover {
    background-color: #3F72AF;
    text-decoration: underline;
}

#home {
    width: 100%;
    height: 500px;
    padding: 50px;
    background-color: #F9F7F7;
    color: #112D4E;
    text-align: center;
}

.home-content {
    padding: 10% 0;
}

.title {
    margin-bottom: 20px;
    font-size: 80px;
    color: #112D4E;
}

.tagline p {
    margin-bottom: 20px;
    font-size: 18px;
}

.btn {
    font-size: 16px;
    padding: 12px 24px;
    color: #DBE2EF;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.start {
    background-color: #3F72AF;
}

#about {
    width: 100%;
    height: 500px;
    padding: 50px;
    background-color: #DBE2EF;
    color: #112D4E;
    text-align: left;
}

#about .container {
    padding: 30px;
}

.about-content {
    float: left;
    width: 50%;
    padding: 80px;
}

.about-img {
    float: right;
    width: 50%;
}

.about-img img {
    position: absolute;
    width:30%;
    margin-left: 100px;
}

.body {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f9f7f7;
    text-align: center;
    height: 500px;
}

.profile {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #3f72af;
}

.contents {
    float: left;
    width: 25%;
    margin: 0px;
}

.content-img {
    position: relative;
}

.content-img img {
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 10px;
    max-width: 72%;
    height: auto;
    margin-bottom: 35px;
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.content-img img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.6;
    filter: sepia(70%);
    -webkit-transform: rotate(0) scale(1.2);
	transform: rotate(0) scale(1.2);
}

.content h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #112d4e;
}

.description {
    width: 80%;
    display: inline-block;
    font-size: 17px;
    margin: 0;
}

#contact {
    background-color: #DBE2EF;
    padding: 50px;
}

#contact .title {
    text-align: center;
}

form {
    padding: 20px;
}

label {
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #F9F7F7;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
  
input[type=submit] {
    background-color: #3F72AF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
  
input[type=submit]:hover {
    opacity: 1;
}

footer{
    background-color: #3f72af;
    color: #dbe2ef;
    width: 100%;
    padding-top: 20px;
    border: 1px;
    padding-bottom: 20px;
    height: 300px;
}

.footer-content, .social-media-list{
    padding: 20px;
}

.footer-list{
    height: 60px;
    border-bottom: 2px solid rgb(182, 179, 179);
    text-align: center;
}

.footer-list li{
    float: left;
    list-style: none;
    width: 19%;
    padding: 5px;
    font-size: 18px;
    color: white;
}

.footer-content{
    margin-top: 20px;
}

.footer-content p{
    margin:0 200px 3px 200px;
    font-size: 18px;
    text-align: center;
    color: #dbe2ef;
}

.social-media-list{
    text-align: center;
}

.social-media-list i{
    margin-right: 30px;
    color: #f9f7f7;
    margin-bottom: 20px;
}

.footer-bottom{
    width: 100%;
    background-color: #112d4e;
    text-align: center;
    height: 40px;
    padding: 15px;
}
